
<ion-header>

  <ion-navbar>
    <ion-title>TIMESHEET</ion-title>
    <ion-buttons end>
        <button ion-button (click)="additem()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-4 class="txtsiz">27/12/2018</ion-col>
        <ion-col col-5></ion-col>
        <ion-col col-3>
          <ion-row align-right>
          Total Hours</ion-row>
          <ion-row class="txtsiz">{{add}}</ion-row></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
 
   <ion-card>
  <ion-grid>
     <ion-row>
       <ion-col>
      <ion-list>
              <ion-item *ngFor="let todo of des">
                  <h2>{{ todo }}    >></h2>
              </ion-item>
      </ion-list></ion-col> 
      <ion-col>
          <ion-list>
                  <ion-item *ngFor="let hour of hours">
                      <h2>{{ hour }}</h2>
                  </ion-item>
          </ion-list></ion-col> </ion-row></ion-grid></ion-card>
</ion-content>
